*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ccc;
    padding: 10px;
    display: flex;
    flex-direction: row; /*default*/
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    /*flex-direction: column-reverse;*/

    /*justify-content: flex-start;*//*default*/
    justify-content: center; /* main axis alignment from left to right */
    /*justify-content: space-between;*/
    /*justify-content: space-around;!* x - 2x *!*/
    /*justify-content: space-evenly;!* equal spaces *!*/
    /*justify-content: flex-end;*/


    align-items: center; /* cross axis alignment from up to down */
    /*align-items: flex-start;*/
    /*align-items: flex-end;*/
    /*align-items: stretch; !*default*!*/
    /*align-items: baseline;*/

    /*height: 1500px;*/
}

.i2 {
    height: 500px;

    /*flex-basis: 20%; !* to set the width of the flex item*!*/
    /*flex-basis: 300px; !* to set the width of the flex item*!*/

    /*flex-shrink: 1;!* default*!*/
    /*flex-shrink: 0;*/

    flex: 0 0 300px; /*grew shrink width*/
}

.item {
    background-color: #f1425d;
    padding: 30px;
    margin: 30px;
    font-size: 40px;
    color: #fff;
    /*flex-grow: 1;!* ability to grow *!*/
}

.i4 {
    /*font-size: 90px;*/
    order: -2;
    /*flex-grow: 3;*/
}

.i3 {
    align-self: flex-end;
    /*align-self: flex-start;*/
    /*align-self: stretch;*/

    order: -1; /* all of them has default order zero */
    /*flex: 1;*/
}
